<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Elements - Interphase by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../views/js/jquery.min.js"></script>
		<script src="../views/js/skel.min.js"></script>
		<script src="../views/js/skel-layers.min.js"></script>
		<script src="../views/js/init.js"></script>
		
			<link rel="stylesheet" href="../views/css/skel.css" />
			<link rel="stylesheet" href="../views/css/style.css" />
			<link rel="stylesheet" href="../views/css/style-xlarge.css" />

		<noscript>	
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index">Hello World!</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="chat">Chat</a></li>
						<li><a href="friends">Friends</a></li>
						<li><a href="mypage">Mypage</a></li>

						
						
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Friends</h2>
						<p>Search more friends from the world :D</p>
					</header>

					<!-- Image -->
						<section>
							<br>
							<h3>Friends List</h3>
							<div class="box alt">
								<div class="row 50% uniform">
									<!-- <div class="12u$"><span class="image fit"><img src="../views/images/pic08.jpg" alt="" /></span></div> -->
									<div class="4u"><span class="image fit"><img src="../views/images/pic05.jpg" alt="" /><li>Hazel</li></span></div>
									<div class="4u"><span class="image fit"><img src="../views/images/pic06.jpg" alt="" /><li>Drew</li></span></div>
									<div class="4u$"><span class="image fit"><img src="../views/images/pic07.jpg" alt="" /><li>Roxy</li></span></div>
									<div class="4u"><span class="image fit"><img src="../views/images/pic07.jpg" alt="" /><li>Jessica</li></span></div>
									<div class="4u"><span class="image fit"><img src="../views/images/pic05.jpg" alt="" /></span></div>
									<div class="4u$"><span class="image fit"><img src="../views/images/pic06.jpg" alt="" /></span></div>
									
								</div>
							</div>

							<h3>Recommended Friends</h3>
							<p><span class="image left"><img src="../views/images/pic09.jpg" alt="" /></span>
								<hr>
								<li>Name : Frank</li>
								<li>Native : English</li>
								<li>Learn : Korean</li>
								<li>Location : Fort Bragg, U.S.A</li>
								<hr>
							</p>
							<hr>
							<p><span class="image left"><img src="../views/images/pic09.jpg" alt="" /></span>
								<hr>
								<li>Name : Amy</li>
								<li>Native : English</li>
								<li>Learn : Korean</li>
								<li>Location : Location Not Provided</li>
								<hr>
							</p>
							<hr>
							<p><span class="image left"><img src="../views/images/pic09.jpg" alt="" /></span>
								<hr>	
								<li>Name : Mike</li>
								<li>Native : English</li>
								<li>Learn : Korean</li>
								<li>Location : Auckland, New Zealand</li>
								<hr>
							</p>
						</section>

						<!-- Form -->
						<section>
							<hr>
							<hr>
							<h3>Send E-mail</h3>
							<form method="post" action="#">
								<div class="row uniform 50%">
								<div class="12u$">
										<div class="select-wrapper">
											<select name="category" id="category">
												<option value="">- Friends List -</option>
												<option value="1">Hazel</option>
												<option value="1">Drew</option>
												<option value="1">Roxy</option>
												<option value="1">Jessica</option>
											</select>
										</div>
								</div>

								
									<div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="email" id="email" value="" placeholder="Email" />
									</div>
									
									<div class="4u 12u$(small)">
										<input type="radio" id="priority-low" name="priority" checked>
										<label for="priority-low">Low Priority</label>
									</div>
									<div class="4u 12u$(small)">
										<input type="radio" id="priority-normal" name="priority">
										<label for="priority-normal">Normal Priority</label>
									</div>
									<div class="4u$ 12u$(small)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
									<div class="6u 12u$(small)">
										<input type="checkbox" id="copy" name="copy">
										<label for="copy">Email me a copy of this message</label>
									</div>
									<div class="6u$ 12u$(small)">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I am a human and not a robot</label>
									</div>
									<div class="12u$">
										<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
									</div>
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>

				</div>
			</section>





		<!-- Footer -->
			<footer id="footer">
				<div class="container">

					<div class="row">
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contact Us</h3>
							<ul class="icons">
								<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
						</section>

					</div>
				</div>
			</footer>
	</body>
</html>