<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Elements - Interphase by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../views/js/jquery.min.js"></script>
		<script src="../views/js/skel.min.js"></script>
		<script src="../views/js/skel-layers.min.js"></script>
		<script src="../views/js/init.js"></script>
		
			<link rel="stylesheet" href="../views/css/skel.css" />
			<link rel="stylesheet" href="../views/css/style.css" />
			<link rel="stylesheet" href="../views/css/style-xlarge.css" />

		<noscript>	
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="index">Hello World!</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="chat">Chat</a></li>
						<li><a href="friends">Friends</a></li>
						<li><a href="mypage">Mypage</a></li>
						
						
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Mypage</h2>
						<p>Customize your settings</p>
					</header>

					<!-- Table -->
						<section>
							
							<h3>Information</h3>
							<div class="table-wrapper">
								<table>
									<!-- <thead>
										<tr>
											<th>Name</th>
											<th>Description</th>
											
										</tr>
									</thead> -->
									<tbody>
										<tr>
											<td>Name</td>
											<td>Taerin Ha</td>
											
										</tr>
										<tr>
											<td>Native</td>
											<td>Korean</td>
											
										</tr>
										<tr>
											<td>Learn</td>
											<td>English</td>
					
										</tr>
										<tr>
											<td>Location</td>
											<td>Seoul, Korea</td>
											
										</tr>
									</tbody>
									<!-- <tfoot>
										<tr>
											<td colspan="2"></td>
											<td>100.00</td>
										</tr>
									</tfoot> -->
								</table>
							</div>
						</section>

					<!-- Buttons -->
						<section>
							<h3>Settings</h3>

							<div class="table-wrapper">
								<table>
									<tbody>
										
										<tr>
											<td>Exact Language Match</td>
											<td><a href="#" class="button alt">OFF</a></td>
										</tr>
										<tr>
											<td>Same Gender Only</td>
											<td><a href="#" class="button "> ON </a></td>
										</tr>
										<tr>
											<td>Don't expose me through people nearby</td>
											<td><a href="#" class="button "> ON <a></td>
										</tr>
										<tr>
											<td>Hide from Search</td>
											<td><a href="#" class="button alt">OFF</a></td>
										</tr>
										
									</tbody>
									<!-- <tfoot>
										<tr>
											<td colspan="2"></td>
											<td>100.00</td>
										</tr>
									</tfoot> -->
								</table>
							</div>
							<hr>
						</section>
					</div>
				</section>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<section class="4u$ 12u$(medium) 12u$(small)">
						<h3>Contact Us</h3>
						<ul class="icons">
							<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
							<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
					</section>	
				</div>
			</div>
		</footer>

	</body>
</html>